{% extends "/template.twig" %}
{% block content %}
{% if errorText %}<p class="alert alert-danger">{{ errorText }}</p>{% endif %}
<div>
  <h1>Форма авторизации</h1>
</div>
<form action="/login/login" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group mt-2">
    <label for="exampleInputPassword1">Пароль</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mt-2">Войти</button>
</form>
{% endblock %}